[run]
source =
    *PROJECT_NAME

branch = True
omit =
    */__init__.py
    *PROJECT_NAME/__main__.py
    *PROJECT_NAME/_version.py

dynamic_context = test_function

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True

[html]
directory = coverage
title = *PROJECT_NAME coverage report
